.coiso {
    width: 500px;
    height: 1500px;
    background-color: #BD8A60;
    position: relative;
}

.coiso2{
    width: 600px;
    height: 1500px;
    background-color:aquamarine;
    position: relative;
}

.coiso3 {
    width: 150px;
    height: 150px;
    background-color:aquamarine;
}

.coiso4 {
    width: 150px;
    height: 150px;
    background-color:aquamarine;
}

.coiso5 {
    width: 150px;
    height: 150px;
    background-color:aquamarine;
}

.coiso6 {
    width: 150px;
    height: 150px;
    background-color:aquamarine;
}
