p {
    color:#BD8A60;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    position:fixed;
    top: 100px;
    left: 40px;
    width: 20%;
}


h1 {
    color: #F1E6C3;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 60px;
    font-size: 40px;
    position: fixed;
    top: -13px;
    left: 55%
}

.quadr {
    background-color: #BD8A60;
    width: 95%;
    border-radius: 15px;
    height: 70px;
    position: fixed;
    z-index: 2;
   
}

body {
    background-color: #F1E6C3;
}

.sum {
    
    height: 50px;
    width: 50px;
    left: 20px;
    top: 17px;
    position: fixed;
    border-radius: 40px;
    border-color: #BD8A60;
    background-color: #F1E6C3;
    border-style: solid;
    z-index: 3;
 
 
}

.quadr2 {
    background-color: #BD8A60;
    width: 70px;
    height: 400px;
    position: fixed;
    top: 385px;
    bottom: auto;
    left: auto;
    border-radius: 50px;
}

#to {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    z-index: 5;
}

#con {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 420px;
    right: 95.50%;

}

#gear {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 500px;
    right: 95.50%;

}

#lua {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 580px;
    right: 95.50%;

}

.cub1 {
    background-color: #f3edda;
    position: absolute; 
    width:900px;
    height: 500px;
    border-radius: 30px;
    right: 100px;
    top: 170px;
    border-width: 10px;
    border-style: solid;
    border-color: #BD8A60;
}

.cub2 {
    background-color: #f3edda;
    position: absolute; 
    width:900px;
    height: 500px;
    border-radius: 30px;
    right: 100px;
    top: 740px;
    border-width: 10px;
    border-style: solid;
    border-color: #BD8A60;
}

.cub3 {
    background-color: #f3edda;
    position: absolute; 
    width:900px;
    height: 500px;
    border-radius: 30px;
    right: 100px;
    top: 1310px;
    border-width: 10px;
    border-style: solid;
    border-color: #BD8A60;
}

.dark-mode {
    background-color: #000000;
    color: #ffffff;

    p {
      color: #ffffff;
    }

    h1 {
      color: #ffffff;
    }

    .quadr {
      background-color: #333333;
    }

    .quadr2 {
        background-color: #333333;
    }
    
    .sum {
      background-color: #444444;
      border-color: #ffffff;
    }
    
    .cub1, .cub2, .cub3 {
      background-color: #555555;
      border-color: #666666;
    }
    
    input {
      background-color: #777777;
      color: #ffffff;
    }
    
    img {
      filter: invert(1); 
    }
  }
