.base {
    width: 400px;
    height: 500px;
    color:#BD8A60;
    position:absolute
}

.base2 {
    width: 150px;
    height: 150px;
    color:aquamarine;
    position: relative;
}

.coiso3 {
    width: 150px;
    height: 150px;
    color:aquamarine;
}

.coiso4 {
    width: 150px;
    height: 150px;
    color:aquamarine;
}

.coiso5 {
    width: 150px;
    height: 150px;
    color:aquamarine;
}

.coiso6 {
    width: 150px;
    height: 150px;
    color:aquamarine;
}
