.coiso2{
    width: 476px;
    height: 950px;
    background-color: #F6D7A3;
    border-color: #BD8A60;
    border-width: 10px;
    border-style: solid;
    position: fixed;
    border-radius: 40px;
    top: 40px;
    right: 0px;
    left: 8px;
}

.coiso3 {
    width: 300px;
    height: 50px;
    position:fixed;
    background-color:#F1E6C3;
    border-color:#BD8A60;
    border-radius: 400px;
    border-width: 4px;
    border-style: solid;
    top: 120px;
    right: 0px;
    left: 30px;
}

.slot {
    width: 20px;
    height: 20px;
    border-style: solid;
    border-radius: 900px;
    border-color: #BD8A60;
    position:fixed;
    background-color: #000000;
    z-index: 4;
    opacity: 100%;
    
}

input[type="color" i]::-webkit-color-swatch-wrapper,
input[type="color" i]::-webkit-color-swatch {
    opacity: 100%;
    width: 9000px;
    height: 9000px;
    border-radius: 0px;
    inline-size: -2000px;
    block-size: -500px;
    border-style: none;
}

.texto1 { 
    
    color: #BD8A60; 
    margin: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-size: 50px; 
    line-height: 100%;
    position:fixed;
    z-index: 1;
    top: 25px;
    right: 0px;
    left: -5px;
}

.texto2 { 
    
    color: #BD8A60; 
    margin: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-size: 50px; 
    line-height: 180%;
    position:fixed;
    z-index: 1;
    top: 110px;
    right: 0px;
    left: -5px;
}

.texto3 { 
    
    color: #BD8A60; 
    margin: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-size: 50px; 
    line-height: 180%;
    position:fixed;
    z-index: 1;
    top: 250px;
    right: 0px;
    left: -5px;
}

#plus4 { 
    border-color:#BD8A60;
    border-radius: 20px;
    border-style: solid;
    width: 20px;
    height: 20px;
    position:fixed; 
    left: 75px; 
    top: 280px;
    z-index: 3;
}

#checkm {
    background-color:#8e6645;
    border-color:#BD8A60;
    border-radius: 50px;
    border-style: solid;
    width: 50px;
    height: 50px;
    position:fixed; 
    left: 400px; 
    top: 120px;
    right: 0px;
    z-index: 4;
}

.backarrow4 {
    background-color: #BD8A60;
    border-radius: 40px;
    border-color: #BD8A60;
    border-style: solid;
    width: 494px;
    height: 70px;
    position:fixed;
    left: 2px; 
    top: 26px;
    z-index: -1;
}

.paper4 {
    background-image: url(/img/paper4.jpg);
    width: 400px;
    height: 50px;
    position: fixed;
    left: 40px;
    top: 370px; 
    border-radius: 40px;
    border-color: #BD8A60;
    border-style: solid;
    border-width: 4px;
}

 .linedpaper4 {
    background-image: url(/img/linedpaper4.JPG);
    width: 400px;
    height: 50px;
    position: fixed; 
    left: 40px; 
    top: 430px; 
    border-radius: 40px;
    border-color: #BD8A60;
    border-style: solid;
    border-width: 4px;
}


 .dotted4 {
    background-image: url(/img/dotted4.jpg);
    width: 400px;
    height: 50px;
    position: fixed; 
    left: 42px; 
    top: 490px;
    border-radius: 40px;
    border-width: 4px;
    border-color: #BD8A60;
    border-style: solid;

 }

 .container4::before {
    background-color:#F1E6C3;
    width: 50px;
    height: 50px;
    position: fixed; 
    color: transparent;
    left: 42px; 
    top: 550px;
    border-radius: 40px;
    border-color: #BD8A60;
    border-width: 4px;
    border-style: solid;
    z-index: 6;
    content: attr(placeholder);
    font-size: 16px;
     color: transparent;
 }

 #preview {
    width: 400px;
    height: 50px;
    position: fixed;
    left: 2.9%;
    bottom: 18.5%;
    border-radius: 40px;
    border-color: #BD8A60;
    border-width: 4px;
    border-style: solid;
    z-index: 5;
  }

 .dark-mode {
    background-color: #000000;
    color: #ffffff;
    
    .coiso2 {
      background-color: #333333;
      border-color: #666666;
    }
    
    .coiso3 {
      background-color: #444444;
      border-color: #666666;
    }

    .slot {
        border-color: #666666;
    }

    #checkm {
        background-color: #333333;
        border-color: #666666;
        filter: invert(1);
    }

    .texto1 {
      color: #ffffff;
      border-color: #666666;
    }
    
    .texto2 {
      color: #ffffff;
      border-color: #666666;
    }

    .texto3 {
        color: #ffffff;
        border-color: #666666;
    }

    .paper4 {
        border-color: #666666;
    }
    
    .linedpaper4 {
        border-color: #666666;
     }
      
    .dotted4 {
        border-color: #666666;
    }
    
    .container4::before {
      background-color: #333333;
      border-color: #666666;
    }
    #preview {
        border-color: #666666;
    }

    #plus4{
        filter: invert(1);
        background-color: #333333;
        border-color: #666666;
    }
  }

 details {
    summary {
        list-style: none;
    }
 }
